/* header styles */

.banner {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    padding: 100px 200px 0px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 600px;
}

.banner .banner-image {
    width: 500px;
}

body {
    font-family: 'Lato', sans-serif;
}

.banner-tittle {
    color: #272727;
    font-family: Lato;
    font-size: 60px;

    font-weight: 800;
    margin-bottom: 32px;


}

.head-p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;




}



.button-primary {
    border-radius: 8px;

    background: #E55473;
    padding: 20px 43px;

    color: #FFF;

    font-size: 20px;

    font-weight: 700;

    margin-top: 32px;



}

/* 2nd page frst section */
.featured-flowers {
    text-align: center;
    margin-top: 50px;
}

.content h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.images {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 10px;
}


.image-1 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    overflow: hidden;
    padding: 90px 70px 0px 70px;
    ;
}

.image-2 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);
    overflow: hidden;
    padding: 90px 70px 0px 70px;
}

.image-3 {
    width: 310px;
    height: 428px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);


    padding: 90px 70px 0px 70px;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 300px 300px 0px 0px;
}

.image h3 {
    margin-top: 10px;
    font-weight: bold;
    text-decoration: underline;
}

/* 3rd page section */

.delivery {
    width: 1400px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.delivery-images {
    display: flex;
    gap: 120px;

    align-items: center;
}


.delivery-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery-image .image-4,
.delivery-image .image-5,
.delivery-image .image-6 {
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
}

.delivery-image .image-4 img,
.delivery-image .image-5 img,
.delivery-image .image-6 img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

/* hot deal */
.hot-deal {
    width: 100%;
    height: 620px;

    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-flowers {
    text-align: center;
    margin-bottom: 30px;
}

.featured-flowers h2 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.featured-flowers .highlight {
    color: #E55473;
}

.featured-flowers p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.image8 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 186px;
}

.image8 img {
    width: auto;
    height: 100%;
}

/* instagram */
.content {
    text-align: center;
    margin-top: 50px;

}

.insta-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;

    font-weight: 400;


}

.insta-image-container {
    display: flex;
    justify-content: center;
    gap: 40px;


}

/* latest deals */
.latest-deals {
    text-align: center;
    margin-top: 100px;
    background-image: url('../backimg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 200px;
    padding-top: 40px;
    margin-top: 50px;
    
    justify-content: center;
    align-items: center;
  
   
    
    
   
}

.email-input {
    width: 700px;

    height: 45px;

}
/* footer section */
.footer
{
    text-align: center;
    margin-top: 50px;
   background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 100px;
    color: #FFF;
    padding-top: 100px;
}
.insta-p1
{color: #FFF;}

.highlight {
    color: #E55473;
  }